img {
    float: none;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.container {
    display: inline-block;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    background-color: #bb97eb;
    z-index: 1000000000;
}

/* applies to <li> elements inside a <nav> element */
nav li {
    display: inline;
    margin-right: 1rem;
}

.nav_item {
    /* remove the underline for a hyperlink */
<<<<<<< HEAD
<<<<<<< HEAD
    /* text-decoration: none; */
}   text-decoration: none;
=======
    text-decoration: none;
=======
    /* text-decoration: none; */
}

.flex-container {

    /* Parent must have display set to flex */
<<<<<<< HEAD
    display: flex;
<<<<<<< HEAD
    /* Set flex-direction to row */
    flex-direction: row;

    /* Set flex-direction to row */

    /* Center each row on the page (hint: justify-content) */

}

.flex-item {

    /* Set all-around margin to 1rem */
    margin: 1rem;
    /* Make names and titles centered with pictures 
    (hint: text-align) */
    text-align: center;

    /* Make names and titles centered with pictures 
    (hint: text-align) */
}